body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}


.row{
  display: flex;
}

.square{
  height: 16px;
  width: 16px; 
  margin: 1px;
  background-color: lightgray;
}

